name: CI - Spring Boot Build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  call-reusable-workflow:
    uses: akannan1087/platform-build-reusable-workflows-repo/.github/workflows/maven-build.yml@main
    with:
      java-version: '17'
