name: CI - Spring Boot Build Java

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  call-reusable-workflow:
    uses: akannan1087/platform-build-reusable-workflows-repo/.github/workflows/java-build-test.yml@main
    with:
      java_version: '17'
